<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

  <%- include('navbar.ejs') %>
  <div class="login">
    <% if (!isLoggedIn) { %>
      <table class="login">
        <tr>
          <th><a href="/register">REGISTER</a></th>
          <th><a href="/login">LOGIN</a></th>
        </tr>
      </table>
  <% } %>
  </div>
  <h1><%= user.firstName %> <%= user.lastName %></h1>
  <table align="center">
    <tr>
      <td><a href="/marvel"><img src="images/amazing.jpg" alt=""></a></td>
      <td><a href="/manga"><img src="images/beserk.jpg" alt=""></a></td>
    </tr>
    <tr>
      <td><a href="/dc"><img src="images/dc.jpg" alt=""></a></td>
      <td><a href="/manga"><img src="images/kaisen.jpg" alt=""></a></td>
    </tr>
  </table>
  <div class="container">
    <div class="img2"><a href="/cart"><img src="images/cart.webp" alt=""></a></div>
    <span class="number"><%= cartCount.count  %></span>
  </div>
</body>
</html>